
body {
  margin: 0;
  padding: 20px;
  background-color: #1e1e24;
  font-family: "Arial";
  color: #FFFFFF;
}

canvas {
  position:absolute;
  left:20px;
  top:20px;
}

#canvas-bg {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 80%;
  height: calc(80% - 1px);
  background-color: #dcdce6;
}

#canvas {
  z-index: 1;
}

#hcanvas {
  z-index: 2;
}

#tools {
  position:absolute;
  left: 20px;
  top: calc(20px + 80vh);
  padding: 20px;
}

#chat {
  width: 100%;
  height: 80vh;
  float: left;
  background-color: #2a2a32;
}
